<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h1 class="panel-title">
      {{ contact.name }}
    </h1>
    <img [src]="contact.imageUrl" alt="{{ contact.name }}" class="img-responsive pull-left" style="max-height: 50px;">
    <a class="btn btn-danger pull-right" (click)="onDelete()">Delete</a>
    <a class="btn btn-primary pull-right" routerLink="edit" routerLinkActive="active">Edit</a>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        Email: {{ contact.email }}
      </div>
      <div class="col-xs-12">
        Phone: {{ contact.phone }}
      </div>
    </div>
  </div>
</div>
